.board-title{
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

.board-title-toolbar{
    font-size: 14px;
    border-top: 2px solid #000;
    background-color: snow;
}

.board-title-right {
    text-align: right;
}

#searchTarget {
    width: 130px!important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; 
}

#searchButton {
    margin-left: -1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; 
}

/* 매우 작은 기기들 (모바일폰, 768px 보다 작은) */
/* 부트스트랩에서 이것은 기본이므로 미디어쿼리가 없습니다. */

.table-board td:nth-child(2){
    cursor: pointer;
}
.table-board td:nth-child(2):hover{
    color:brown;
}
.table-board th, td:nth-child(1), td:nth-child(n+3) {
    text-align: center;
}



@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1108px) {
    

}


@media only screen and (max-width: 991px) {

    .table td:nth-child(1),
    .table th:nth-child(1)
    {display: none;}


}

@media only screen and (max-width: 768px) {

    .table td:nth-child(1),
    .table td:nth-child(3),
    .table td:nth-child(5),
    .table th:nth-child(1),
    .table th:nth-child(3),
    .table th:nth-child(5)
    {display: none;}

    .workloadSelection button{
        margin: 0 auto 10px auto;
        height: 50px;
    }

    .table th:nth-child(4),
    .table th:nth-child(8),
    .table td:nth-child(8){
        text-align: center;
        width: 50%;
        word-break: break-all;
    }

}



@media only screen and (max-width: 576px) {

        .workloadSelection button{
        margin: 0 auto 10px auto;
        height: 50px;
    }

}
