/* body {
    background-color: rgb(121, 131, 138)!important;
} */
@font-face {
    font-family: "basic";
    src: url("../css/fonts/BMEULJIROTTF.ttf") format("truetype");
}

* {
    font-family: 'basic';
}

body {
    margin:0;
    padding:0;
    height:100%;

}

#userPw, #userPw2 {
    font-family: Arial, Helvetica, sans-serif!important;
}

/* 하단 정보 쓰는곳 */
.custom-bottom {
    height: 170px;
    background-color: #343a40;
    color: white;
    line-height: 50px;
    position: relative;
    bottom:0;
    width:100%;
}

.custom-bottom-copyrights {
    text-align: center;
}

.custom-bottom-contents {
    text-align: left;
}

.custom-bottom-contents a  {
    color: white;
}

.custom-bottom-contents a:hover {
    color: white;
    text-decoration: none;
}


/* 커스텀 버튼
*/
#customButton{
    background:#4b4b4b;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
#customButton:hover{
    background:#fff;
    color:#1AAB8A;
  }
#customButton:before,#customButton:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
#customButton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
#customButton:hover:before,#customButton:hover:after{
    width:100%;
    transition:800ms ease all;
}



.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    background-color: white;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    }
    
    .dropup, .dropdown {
    position: relative;
    }
    
    .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.main-contents {
    margin: 10px auto 0px auto;
    width: 80%;
}
.main-contents-title {
    font-size: 40px;
}

.pagination.react-bootstrap-table-page-btns-ul {
    justify-content: center;
}

.page-item[title="Pre page"], .page-item[title="First page"] {
    display: none;
}


.page-item.active .page-link {
    z-index: 0!important;
}
.boarder-bottom-toolbox-right {
    text-align: right;
}

#user-bar {
    color: blanchedalmond;
}

.info-title {
    text-align: right;
}
.info-footer {
    text-align: center;
}

.social-login-div {
    text-align: center;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 20px;
	margin: 30px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

.custom-dropdown-menu li ul {
    background: white;
    border-radius: 5px 5px 5px 5px;
    display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
    list-style: none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:200;
    box-shadow: 5px 5px;
}

.saving-title {
    font-weight: bold;
    text-align: center;
}

.custom-dropdown-menu li ul a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.custom-dropdown-menu li ul a:hover {background-color: #ddd;}
.custom-dropdown-menu li ul :first-child {
    border-radius: 5px 5px;
}


.custom-dropdown-menu li:hover ul {
    display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}


.product-title {
    font-weight: bold;
}

#carousel1 {
    background-image: url("../images/carouselImg_01.jpg");
    background-position: center center;
    background-size: cover;
    height: 500px;
}

#carousel2 {
    background-image: url("../images/carouselImg_02.jpg");
    background-position: center center;
    background-size: cover;
    height: 500px;
}

#carousel3 {
    background-image: url("../images/carouselImg_03.jpg");
    background-position: center center;
    background-size: cover;
    height: 500px;
}

.selection-cell-header {
    width: 3%;
}


@media only screen and (min-width: 1200px) {

    .home-menu {
        font-size: 40px;
        font-weight: bold;
    }
    .nav.nav-tabs{
        font-size: 30px;
    }

    #carousel1, #carousel2, #carousel3 {
        height: 600px;
    }

    .carousel-caption h3 {
        font-size: 36px;
        color:rgba(25, 33, 68, 0.733);
        font-weight: bold;
        background-color: rgba(252, 248, 248, 0.568);
        border-radius: 5px;
    }
    
    
    .carousel-caption p {
        font-size: 24px;
        color:rgba(25, 33, 68, 0.733);
        background-color: rgba(252, 248, 248, 0.568);
        border-radius: 5px;
    }
    
}

@media only screen and (max-width: 1199px) {

    .home-menu {
        font-size: 30px;
        font-weight: bold;
    }

    .nav.nav-tabs{
        font-size: 30px;
    }

    .carousel-caption h3 {
        font-size: 30px;
        color:rgba(25, 33, 68, 0.733);
        font-weight: bold;
        background-color: rgba(252, 248, 248, 0.568);
        border-radius: 5px;
    }
    
    
    .carousel-caption p {
        font-size: 20px;
        color:rgba(25, 33, 68, 0.733);
        background-color: rgba(252, 248, 248, 0.568);
        border-radius: 5px;
    }
    

}

@media only screen and (max-width: 1108px) {

    #carousel1, #carousel2, #carousel3 {
        height: 400px;
    }


}


@media only screen and (max-width: 991px) {
    .custom-dropdown-menu li ul {
        position: relative;
        width:100%;
    }

    

}

@media only screen and (max-width: 768px) {

    .home-menu {
        font-size: 20px;
        font-weight: bold;
    }

    #carousel1, #carousel2, #carousel3 {
        height: 300px;
    }
    .detail-box {
        margin-bottom: 20px;
    }
    .main-contents {
        font-size: 80%;
    }
    .main-contents .btn {
        font-size: 12px;
        padding: 6px;
    }

    .workload-table td:nth-child(2),
    .workload-table td:nth-child(6),
    .workload-table th:nth-child(2),
    .workload-table th:nth-child(6)
     {display: none;}

     .carousel-caption h3 {
        font-size: 18px;
        color:rgba(25, 33, 68, 0.733);
        font-weight: bold;
        background-color: rgba(252, 248, 248, 0.568);
        border-radius: 5px;
    }
    
    
    .carousel-caption p {
        font-size: 16px;
        color:rgba(25, 33, 68, 0.733);
        background-color: rgba(252, 248, 248, 0.568);
        border-radius: 5px;
    }
    
    

}



@media only screen and (max-width: 576px) {

#carousel1, #carousel2, #carousel3 {
    height: 250px;
}

.react-bootstrap-table-pagination-total {
    text-align: center;
}


}
